* {
	margin: 0px;
	padding: 0px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
}

header {
	margin: 5px;
	border-color: red;
	border: 1px;
	padding: 20px;
}

main {
	border-color: blue;
	border-width: 1px;
	min-height: 400px;

}

nav {

	float: left;
	min-width: 20%
}

aside {
	width: 20%;
	float: right;
}

aside ul {
	dislay: block;
}

#chatBoard {

	min-height: 200px;
	width: 80%;
	background-color: #adadad;
	float: left;
	overflow: auto;
}

footer {
	margin: 5px;
	padding: 20px;
	border-top: dotted #adadad 1px;
	clear: both;
}

footer p {
	font-size: 10px;
	text-align: center;
	padding: 2px;
}

form {
	padding: 20px;
	border: dotted #adadad 1px;
}

fieldset {
	padding: 10px;
}

input {
	margin: 5px;
}


button {
	margin: 5px;
	padding: 3px;
	display: block;
}

input.ng-invalid {
  border: 2px solid red;
}
input.ng-valid {
  border: 1px solid green;
}