* {
	margin: 0px;
	padding: 0px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
}

header {
	margin: 5px;
	border-color: red;
	border: 1px;
	padding: 20px;
}

#main {
	border-color: blue;
	border-width: 1px;
	min-height: 400px;

}

form {
	padding: 20px;
	border: dotted #adadad 1px;
}

fieldset {
	padding: 10px;
}

input {
	margin: 5px;
}


button {
	margin: 5px;
	padding: 3px;
	display: block;
}

input.ng-invalid {
  border: 2px solid red;
}
input.ng-valid {
  border: 1px solid green;
}

footer {
	margin: 5px;
	padding: 20px;
	border-top: dotted #adadad 1px;
	clear: both;
}

footer p {
	font-size: 10px;
	text-align: center;
	padding: 2px;
}