<h1>Please choose a username:</h1>

<form name="loginForm">
	<input type="text" 
		name="username"
		ng-model="username" 
		placeholder="Insert name here"
		required="required"
		ng-maxlength="32" />

	<section class="warning" ng-show="username.$invalid">
		<small>Username not valid</small>
	</section>

	<button ng-click="connect()">Connect!</button>
</form>

<p ng-bind="message"></p>

<ul>
    <li ng-repeat="room in rooms">
    	<a href="#/rooms/{{ room.topic }}">
    	{{room.topic}} </a> 
    </li>
</ul>

