<div class="container">
	<h1> {{ roomName }}</h1>
	<div class="well">
		<div class="row">

			<section id="chatBoard" class="col-md-9 col-xs-9">
				<ul style="list-style: none">
					<li ng-repeat="message in messages">
						<article>
							<strong>
								<time>[{{ message.timestamp | date:"HH:mm:ss" }}]:</time>
							</strong>
							<strong>
								{{ message.nick }}
							</strong>
								{{ message.message }}
						</arcticle>
					</li>
				</ul>
			</section>

			<aside class="col-md-3 col-xs-3">
				<p>Users</p>
				<ul>
					<li ng-repeat="user in users">
						{{ user }}
					</li>
				</ul>
			</aside>

		</div>
	</div>

	<footer>
		<input ng-model="currentMessage" class="form-control" ng-keypress="keyPress($event)" />
		<button ng-click="send()">Send!</button>
	</footer>

</div>